<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Click or Bait? | Clickbait Detection</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" media="screen,projection">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">DAT 10 GA Final Project</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#index-banner">Try me!</a></li>
        <li><a href="#topic-details">Topic Details</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#index-banner">Try me!</a></li>
        <li><a href="#topic-details">Topic Details</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text">Click or Bait?</h1>
        <div class="row center">
            <h5 class="header col s12 light">Be reasonable, do you really want to follow a link with a title like:</h5>
        </div>
        <div class="row center">
            <form action="/prediction/" method="post" id="prediction-form">
                <input class="center-align" type="text" name="query-title" id="query-title" placeholder="Top 10 Reasons why Clickbait is useless" />
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button class="btn-large waves-effect waves-light orange" type="submit" name="predict">
                    Find Out! <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>

  <div class="container">
    <div class="section">
      <!-- tl;dr Section -->
      <div id="prediction-results" class="row center"></div>

      <!-- Infographical part -->
      <div class="row center">
        <h2>About the Model</h2>
        <div id="sentiment-boxplot" class="col m12">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

      <!--   Icon Section   -->
      <div class="row init-hidden" id="model-details">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Accuracy</h5>
            <p class="center light">{{ accuracy }}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block center">
            <h2 class="light-blue-text"><i class="material-icons">group</i></h2>
            <h5>Training Data</h5>
            <p class="light">{{ num_documents }} documents</p>
            <p class="light">{{ num_features }} features</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Null Accuracy</h5>
            <p class="center light">{{ null_accuracy }}</p>
          </div>
        </div>
      </div>

        <div id="top-words" class="col m12 init-hidden">
        <h3>Sample Training Top Words</h3>
        <p><i class="material-icons">textsms</i> {{ top_words_title }}</p>
        <ul>
          {% for (word,score) in top_scores %}
          <li>
            <h4><a>{{ word }}</a></h4>
          </li>
          {% endfor %}        
        </ul>
        </div>

      </div>

      <!-- two column -->
      <div class="row center init-hidden" id="topic-details">
        <h3>Model Topics</h3>
        <div class="col m6">
          <table class="striped">
            <thead><tr>
              <th data-field="word">Word</th>
              <th data-field="score">Score</th>
            </tr></thead>
            <tbody>
              {% for (score,word) in lda_topic_0 %}
              <tr>
                <td>{{ word }}</td>
                <td>{{ score }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col m6">
          <table class="striped">
            <thead><tr>
              <th data-field="word">Word</th>
              <th data-field="score">Score</th>
            </tr></thead>
            <tbody>
              {% for (score,word) in lda_topic_0 %}
              <tr>
                <td>{{ word }}</td>
                <td>{{ score }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <br><br>
    <div class="section">
    </div>
  </div>

  <footer class="page-footer orange" id="footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Dennis Yau</h5>
          <p class="grey-text text-lighten-4">
           Fullstack Webapp nerd that had a great time in GA DAT-10.
          </p>
          <p class="grey-text text-lighten-4">
           Wishes he could do nothing but apps like this all day.
          </p>
          <p class="grey-text text-lighten-4">
           Loves hanging around smart people hoping it'll rub off.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Project History</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/dennyau/clickbait-project/tree/master/ipython_notebooks">iPython Notebook</a></li>
            <li><a class="white-text" href="https://github.com/dennyau/click-or-bait/">This App</a></li>
            <li><a class="white-text" href="https://github.com/dennyau/clickbait-project/blob/master/index.html">Original Reveal.js Slideshow</a></li>
            <li><a class="white-text" href="https://github.com/dennyau/clickbait-project/blob/master/data-scraper.js">Webscraper</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/dennis-yau-48a62160">LinkedIn</a></li>
            <li><a class="white-text" href="mailto:denn.yau@gmail.com">Email</a></li>
            <li><a class="white-text" href="https://twitter.com/dennyau">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/dennyau/">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with 
        <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>, 
        <a class="orange-text text-lighten-3" href="https://www.djangoproject.com/">Django</a>, 
        <a class="orange-text text-lighten-3" href="https://nodejs.org/en/">Node.js</a>
      </div>
    </div>
  </footer>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/static/js/init.js"></script>

</body>
</html>
